/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}

/* header */
header{
    background-image: url(../pic/Hero-bg.png);
    height: 698px;
}
.navbar{
    max-width: 1140px;
    margin: 0 auto;
}

header .herobar{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 50px 0px;
  
}

header .logo{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: #4E47FF;
    font-size: 34px;
}
header .btn{
    background-color: #4E47FF;
    width: 132px;
    height: 48px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: white;
}
header .navbar2{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    
}
.nav-title{
    font-size: 65px;
    font-weight: 800;
    width: 905px;
    text-align: center;
}

.dbtn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#stay{
    height: 48px;
    width: 174px;
}
