/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}

/* header */
header{
    background-image: url(../pic/Hero-bg.png);
    height: 698px;
}
.navbar{
    max-width: 1140px;
    margin: 0 auto;
}

header .herobar{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 50px 0px;
  
}

header .logo{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: #4E47FF;
    font-size: 34px;
}
.btn{
    background-color: #4E47FF;
    width: 132px;
    height: 48px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: white;
}
header .navbar2{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    
}
.nav-title{
    font-size: 65px;
    font-weight: 800;
    width: 905px;
    text-align: center;
}

.dbtn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#stay{
    height: 48px;
    width: 174px;
}
/* first section */
main{
    background-color: #f5f8ff;
}
.section{
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    width: 1140px;
    align-items: center;
}
main div img{
    width: 403px;
    height: 328px;
    border-radius: 32px;
}
main div h1{
    margin: 10px 0;
    font-size: 42px;
    font-weight: 800;
    color: #252432;
}
main div p{
    margin: 10px 0;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}
main .card1{
    width: 517px;
}
#btn3{
    width: 229px;
    margin: 10px 0;
}

/* user section */
.users-section{
    width: 1140px;
    height: 308px;
    margin: 0 auto;
    background-color: rgba(77, 71, 255, 0.1);
    border-radius: 30px;
}
.users-h1{
    color: #252432;
    font-size: 38px;
    text-align: center;
    font-weight: 800;
}
.point{
    display: flex;
    justify-content: space-around;
}
.font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: #4E47FF;
    font-size: 80px;
}
.p-font{
    font-size: 20px;
}
 /* review section */
 .review-h1{
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    color: #252432;
    margin-top: 137px;
    margin-bottom: 50px;
}
.review-section{
    display: flex;
    width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    gap: 30px;
}
.star-section{
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(206, 201, 201, 0.18);
    border-radius: 15px;
    padding: 30px;
}
.star{
    width: 20px;
    height: 20px;
}
.review-h3{
    color: #1E1E1E;
    font-size: 25px;
}
.review-p{
    color: #1E1E1E;
    font-size: 16px;
}
.icon-section{
    display: flex;
    align-items: center;
    gap: 15px;
}
.icon-img{
    width: 40px;
    height: 40px;
}

.name{
    color: #757575;
    font-size: 14px;
}
.date{
    color: #B3B3B3;
    font-size: 14px;
}
