/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}

/* header */
header{
    background-image: url(../pic/Hero-bg.png);
    height: 698px;
}
.navbar{
    max-width: 1140px;
    margin: 0 auto;
}

header .herobar{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 50px 0px;
  
}

header .logo{
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: #4E47FF;
    font-size: 34px;
}
.btn{
    background-color: #4E47FF;
    width: 132px;
    height: 48px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: white;
}
.btn:hover{
    cursor: pointer;
    border-top: 3px solid #4E47FF;
    border-radius: 0;
    border-bottom: 3px solid #4E47FF;
    background-color: rgba(73, 68, 68, 0.123);
    color: black;
    transition: 0.3s;
    font-weight: 600;
}
header .navbar2{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    
}
.nav-title{
    font-size: 65px;
    font-weight: 800;
    width: 905px;
    text-align: center;
}

.dbtn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#stay{
    height: 48px;
    width: 174px;
}
/* first section */
main{
    background-color: #f5f8ff;
}
.section{
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    width: 1140px;
    align-items: center;
}
main div img{
    width: 403px;
    height: 328px;
    border-radius: 32px;
}
main div h1{
    margin: 10px 0;
    font-size: 42px;
    font-weight: 800;
    color: #252432;
}
main div p{
    margin: 10px 0;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}
main .card1{
    width: 517px;
}
#btn3{
    width: 229px;
    margin: 10px 0;
}

/* user section */
.users-section{
    width: 1140px;
    height: 308px;
    margin: 0 auto;
    background-color: rgba(77, 71, 255, 0.1);
    border-radius: 30px;
}
.users-h1{
    color: #252432;
    font-size: 38px;
    text-align: center;
    font-weight: 800;
}
.point{
    display: flex;
    justify-content: space-around;
}
.font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: #4E47FF;
    font-size: 80px;
}
.p-font{
    font-size: 20px;
}
 /* review section */
 .review-h1{
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    color: #252432;
    margin-top: 137px;
    margin-bottom: 50px;
}
.review-section{
    display: flex;
    width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    gap: 30px;
}
.star-section{
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(206, 201, 201, 0.18);
    border-radius: 15px;
    padding: 30px;
}
.star{
    width: 20px;
    height: 20px;
}
.review-h3{
    color: #1E1E1E;
    font-size: 25px;
}
.review-p{
    color: #1E1E1E;
    font-size: 16px;
}
.icon-section{
    display: flex;
    align-items: center;
    gap: 15px;
}
.icon-img{
    width: 40px;
    height: 40px;
}

.name{
    color: #757575;
    font-size: 14px;
}
.date{
    color: #B3B3B3;
    font-size: 14px;
}
/* container */

.container{
    margin: 0 auto;
    width: 1140px;
    text-align: center;
    height: 640px;
    background-color: #FFFFFF;
    margin-top: 100px;
    border-radius: 15px;
    border: 2px solid rgba(206, 201, 201, 0.18) ;
}
.con-title{
    padding: 60px 0px 15px 0px;
    font-size: 50px;
    font-weight: 800;
    color: #000000;
}
.con-p{
    padding: 0px 0px 15px 0px;
    color: rgba(0, 0, 0, 0.5);
}
.con-img{
    width: 840px;
    border-radius: 40px;
}
#con-btn{
    width: 195px;
    height: 48px;
}
/* form */
.form{
    margin: 0 auto;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 632px;
}
.form-title{
    width: 528px;
    height: 232px;
}
.form-h1{
    font-size: 97px;
    color: #000000;
}
main div label{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}
main div input[type="email"],input[type="text"] {
      width: 477px;
      height: 70px;
      border-radius: 7px;
      border: 1px solid #D6DDED;
      font-size: 20px;
      padding-left: 20px;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      color: rgba(0, 0, 0, 0.5);
    }
main div textarea{
    width: 477px;
    height: 105px;
    border-radius: 5px;
    border: 1px solid #D6DDED;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 30px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
}
.form-btn{
    width: 497px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
}
/* footer */
footer{
    height: 428px;
}
footer .info{
    width: 531px;
    height: 177px;
    margin: 0 auto;
}
.foot-h1{
    
    font-size: 100px;
    text-align: center;
}
.foot-p1{
    color: #8987A1;
    text-align: center;
    margin: -10px 0px 40px 0px;
}
footer div ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
footer div ul li a{
    text-decoration: none;
    color: #8987A1;
}